<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="no-transform"/>
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <title>
    vue
  </title>
  <meta name="keywords" content="">
  <meta name="x5-fullscreen" content="false"/>
  <meta name="x5-orientation" content="portrait"/>
  <meta name="viewport"
        content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <link href="/assets/img/favicon.ico" rel="shortcut icon">
  <style>
    input {
      border: 1px solid red;
    }
  </style>
</head>
<body>
<div id="app" class="page">
  <input type="text" v-model="src">
  <h1 class="title">xx{{src}}</h1>
  <p v-text="src" class="tip" @click="click"></p>
  <div v-for="(list,idx) in lists">
    {{list}}-{{idx}}
  </div>
  <div>
    <p v-if="lists.length>=3">数组大于3显示我</p>
    <p v-else>小于3显示我</p>
  </div>
</div>
</body>
</html>