<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="no-transform"/>
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <title>
    vue
  </title>
  <meta name="keywords" content="">
  <meta name="x5-fullscreen" content="false"/>
  <meta name="x5-orientation" content="portrait"/>
  <meta name="viewport"
        content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <link href="/assets/img/favicon.ico" rel="shortcut icon">
</head>
<body>
<div id="app">
  <a href="xxx"></a>
  <a :href="src"></a>
  <div v-for="(item,idx) in list" :key='idx' v-show="false" @click="select(item)">
    <p>{{item}}-{{idx}}</p>
  </div>
  <input type="text" v-modal="inputValue" disabled>
  <input type="text" :value="value">
  <section>
    <div v-if="status">dd</div>
    <div v-else>dd</div>
  </section>
  <div v-text="value"></div>
  <div v-html="inputValue"></div>

</div>
</body>
</html>